@import url(http://fonts.googleapis.com/css?family=Roboto);

*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

:root {
    --upper-body-width-elements: min(600px, 90%);
}
.upper-body {
    background-color: #1f2937;
}
.header {
    padding: 1rem;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    flex: 1;
    background-color: #1f2937;
    justify-content: space-around;
}
.header > * {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}
.hero {
    flex-wrap: wrap;
}
.hero > img {
    width: var(--upper-body-width-elements);
}
.header h1 {
    margin: 0px;
    font-weight: 1000;
    color: #f9faf8;
    font-size: 1.8rem;
}
.header .logo-photo {
    width: 32px;
}

.anchors > a {
    text-decoration: none;
    color: #e5e7eb;
}
.anchors > a:hover {
    color: #3882f6;
}
.sign-button:hover {
    background-color: #2f72df;
    color: #e5e7eb;
}
.hero-text > p,
.anchors {
    color: #e5e7eb;
    font-size: 1.2rem;
}
.anchors {
    display: flex;
    gap: 24px;
}
.hero {
    display: flex;
    justify-content: center;
    margin: 8rem 0;
    align-items: start;
    gap: 1rem;
}
.hero-text {
    width: var(--upper-body-width-elements);
}
.hero-text > header {
    font-size: 3rem;
    font-weight: 1000;
    color: #f9faf8;
}
.sign-button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 1.2rem;
    color: #e5e7eb;
    padding: 12px 18px;
    font-weight: 700;
    align-self: flex-end;
}

.information {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-header {
    font-size: 2rem;
    font-weight: 1000px;
    color: #1f2937;
    text-align: center;
    font-weight: 1000;
    line-height: 200px;
}
.container > img {
    border-radius: 5px;
    width: 100%;
}
.container > p {
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1.2rem;
    color: #cecece;
}
/* images container */
.container {
    width: 300px;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 5px;
}
.quote {
    background-color: #e5e7eb;
    margin-top: 100px;
    padding: 1rem 0;
}
/* qoute content */
.content {
    margin: 5rem auto;
    width: fit-content;
    padding: 0 1rem;
}
.content > .text {
    color: #1f2937;
    font-size: 2rem;
    font-style: italic;
}
.content > .quote-author {
    font-size: 1.2rem;
    font-weight: 1000;
    text-align: end;
}
.sign-block {
    flex-wrap: wrap;
    width: min(1000px, 90%);
    border-radius: 5px;
    margin: 8rem auto;
    padding: 48px;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
}

.sign-block .sign-header {
    color: #f9faf8;
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 1000;
}
.sign-block > .text-container > p {
    color: #e5e7eb;
    font-size: 1.2rem;
}
.sign-block > .sign-button {
    border: solid 2px white;
    align-self: center;
}
.footer {
    background-color: #1f2937;
    height: 100px;
    color: #e5e7eb;
    text-align: center;
    line-height: 100px;
}

@media (max-width: 500px) {
    .header {
        display: none;
    }
    .hero {
        margin: 3rem 0;
    }
}
